* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oxygen", "sans-serif";
}

.container {
  z-index: -1;
  position: relative;
  color: rgb(157, 240, 74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
 
  margin-bottom: -50px;
  margin-top: 10px;
  width: 50vw;
  height: 38vh;
}

h1 {
  font-size: calc(13px + 1.1vw);

  text-align: center;
  justify-self: center;
  text-shadow: 0 0 10px #97f87a52;
}
p {
  font-size: calc(8px + 0.8vw);
  text-shadow: 0 0 10px #97f87a4d;
  text-align: center;
}



/*small Screen*/
@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    z-index: -1;
    width: 70vw;
    height: 20vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
    position: relative;
    color: rgb(157, 240, 74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
