*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.react-player{
    margin:0 auto;
    padding-top:75px;
}

/*small Screen*/
@media only screen and (max-width: 768px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }