* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fp-container {
  margin: auto;
  margin-top: 120px;
  background-color: rgb(1, 14, 1);
  padding: 20px;
  padding-top: 70px;
  width: 60vw;
  height: 60vh;
  justify-content: center;
  align-content: center;
}

.login-form11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login-input11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.login-input11 label {
  font-size: 18px;
  color: rgb(255, 253, 253);
  padding-bottom: 10px;
}

.login-input11 input {
  width: 50%;
  padding: 5px;
  color: rgb(247, 230, 223);
  border-radius: 0px;
  background-color: rgb(1, 37, 8);
  height: 30px;
  border: none;
}

.login-input11 input:hover {
  border: 1px solid white;
}

.login-input11 input:focus {
  outline-style: none;
  border: 1px solid white;
  background-color: rgb(247, 230, 223);
  color: rgb(6, 44, 22);
}

.login-form11 button {
  margin-bottom: 10px;
  width: 15vw;
  height: 35px;
  color: rgb(255, 253, 253);
  align-self: center;
  border: 1px solid rgb(255, 253, 253);
  border-radius: 5px;
  background-color: rgb(2, 26, 11);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.login-form11 button:hover {
  background-color: white;
  color: rgb(11, 66, 9);
}

.login-form11 button:focus {
  outline-style: none;
  border: 0.75px solid rgb(2, 51, 8);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.success-message {
  width: 56vw;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-message p {
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/*small Screen*/
@media only screen and (max-width: 768px) {
  .fp-container {
    margin-top: 60px;
    background-color: rgb(1, 14, 1);
    padding-top: 50px;
    width: 90vw;
    height: 80vh;
    justify-content: center;
    align-content: center;
  }
  .success-message {
    padding-left: 3vw;
  }
  .login-input11 input {
    width: 70vw;
    margin-bottom: 20px;
  }
  .login-form11 button {
    margin-top: -15px;
    min-width: 50vw;
  }
}
