* {
  margin: 0;
  padding: 0;
}

.app-container::-webkit-scrollbar {
  scrollbar-width: 0px;
}

/*small Screen*/
@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden !important;
  }
}
