* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.bottom {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-bottom: 20px;
  margin-bottom: 20vh;
}
hr {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.082);
  box-shadow: 0 0 10px #edfce952;
}

.bottom img {
  width: 50px;
}

.bottom p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgba(243, 255, 231, 0.438);
  text-shadow: 0 0 10px #97f87a52;
}

.greeting {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 13vh;
  padding-top: 100px;
  margin-bottom: 0;
  color: rgb(157, 240, 74);
  font-size: calc(18px + 1.2vw);
  text-shadow: 0 0 10px #97f87a52;
}
.pop-contain1 {
  padding-top: 5vh;
  display: flex;
  padding-bottom: 350px;
  justify-content: center;
  align-items: center;
}
.bach2 {
  width: 75vw;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 10, 1, 1) 91%,
    rgba(0, 0, 0, 0.9360119047619048) 100%
  );
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #f0ffeb59;
  font-family: "Oxygen", "sans-serif";
  border: none;
  padding: 20px;
  line-height: 1.8;
}
@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    overflow-x: hidden !important;
  }
  body {
    overflow-x: hidden !important;
    overflow-y: auto;
  }
  .home {
    max-height: 7000px;
  }
  .bottom {
    margin-bottom: 500px;
  }
  .greeting{
    padding-bottom:20px;
  }

  hr {
    margin-top: 100px;
  }
  .bottom p {
    font-size: 12px;
  }
   .pop-contain1 {
    padding-top:2vh;
    padding-bottom: 32vh;
  }
  .bach2 {
    width: 55vw;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 10px;
    line-height: 1.8;
    font-size: 13px;
    width: 55vw;
  }
}
