* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-contain {
  background-color: rgb(1, 14, 1);
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  width: 60vw;
  height: auto;
  justify-content: center;
  align-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-input label {
  font-size: 18px;
  color: rgb(255, 253, 253);
  padding-bottom: 10px;
}

#message {
  padding: 5px;
  color: rgb(247, 230, 223);
  border-radius: 0px;
  background-color: rgb(1, 37, 8);
  border: none;
  font-weight: bold;
}
.contact-list {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.contact-list ul {
  list-style: none;
  color: rgb(247, 230, 223);
  text-shadow: 0 0 10px #f0ffeb44;
}
#message:hover {
  border: 1px solid white;
}
#message:focus {
  outline-style: none;
  border: 1px solid white;
  background-color: rgb(247, 230, 223);
  color: rgb(6, 44, 22);
}

.contact-input input {
  width: 40vw;
  padding: 5px;
  color: rgb(247, 230, 223);
  border-radius: 0px;
  background-color: rgb(1, 37, 8);
  height: 30px;
  border: none;
}
.contact-input input:hover {
  border: 1px solid white;
}

.contact-input input:focus {
  outline-style: none;
  border: 1px solid white;
  background-color: rgb(247, 230, 223);
  color: rgb(6, 44, 22);
}

.contact-form button {
  margin-top: 0vh;
  margin-bottom: 10px;
  width: 10vw;
  height: 35px;
  color: rgb(255, 253, 253);
  align-self: center;
  border: 1px solid rgb(255, 253, 253);
  border-radius: 5px;
  background-color: rgb(2, 26, 11);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.contact-form button:hover {
  background-color: white;
  color: rgb(11, 66, 9);
}

.contact-form button:focus {
  outline-style: none;
  border: 0.75px solid rgb(2, 51, 8);
}

#message[type="text"],
select,
textarea {
  height: 120px;
  width: 40vw;
  padding: 10px;
  border-radius: 4px;
  resize: vertical;
}


#small-message {
  display: none;
}

.success-message {
  color: rgb(255, 253, 253);
  text-shadow: 0 0 10px #f0ffeb79;
}
.success-message p {
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .contact-contain {
    margin-top: 60px;
    min-width: 90vw;
    height: 120vh;
  }
  .contact-input input {
    width: 78vw;
  }
 #message[type="text"],
  select,
  textarea {
    height: 200px;
    width: 80vw;
    padding: 10px;
    border-radius: 4px;
    resize: vertical;
  }
  .contact-form button {
    width: 100px;
  }
  .success-message p {
  font-size: 11px;
 width:70vw;
    
}
}
